<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form action="/posts" method="post">
        <label for="username">Username : </label>
        <input type="text" placeholder="username" name="username" required>
        <br>
        <label for="content">Description : </label>
        <textarea name="content" cols="30" rows="30"></textarea>
        <br>
        <label for="img">Image Path : </label>
        <input type="text" placeholder="img" name="img">
        <br>
        <button>Create</button>


    </form>
</body>
</html>