<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    
    <form method="post" action="/posts">
        <input type="text" placeholder="username" name="username">
        <br>
    <br>
    <textarea name="content" placeholder="Enter your content here" cols="25" rows="10"></textarea>
    <br>
    <button type="submit">Submit</button>
    </form>

</body>
</html>