<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new User</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h2>Add your info and message here</h2>
    <form action="/chats" method="post">
        <label for="from">Sender Name : </label>
        <input type="text" placeholder="Enter Sender name" name="from" required>
        <br>
        <label for="msg">Message : </label>
        <input type="text" placeholder="Enter Your message here" name="msg" >
        <br>
        <label for="to">Receiver Name : </label>
        <input type="text" placeholder="Enter Receiver sname" name="to" required>
        <br><button>Submit</button>

    </form>
</body>
</html>
