<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/delete.css">
</head>
<body>
    <h2>Deleting user : <%=user.username%></h2>
    <form action="/user/<%=user.id%>?_method=delete" method="post">
        <label for="password" >Enter password for Confirmation</label>
        <input type="text" name="password">
        <%if(errorMessage){%>
            <p style="color: red;"><%=errorMessage%></p>
            <%}%>
        <button>Delete</button>
    </form>
</body>
</html>