<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h2>Add your Info here</h2>
    <form action="/user/add/new" method="post">
        <label for="username">Username : </label>
        <input type="text" name="username" placeholder="Enter your username here" required>
        <br>
        <label for="email">Email : </label>
        <input type="text" name="email" placeholder="Email Here" required>
        <br>
        <label for="password">password : </label>
        <input type="password" name="password" placeholder="Enter password" required>
        <br>
        <%if(errorMsg) {%>
            <p style="color: red;"><%=errorMsg%></p>
        <%}%>
        <button>Submit</button>
    </form>
</body>
</html>