h1{
    color: rgba(128, 0, 0, 0.648);
}
.post{
    background-color: rgba(128, 0, 0, 0.715);
    max-width: 300px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.user{
    font-style: italic;
}
.time{
    color:black;
}
