<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new User</title>
</head>
<body>
    <h2>Add info</h2>
    <form action="/listings" method="POST">
        <input type="text" placeholder="Enter title" name="listing[title]"> <br><br>
        <textarea type="text" placeholder="Enter Description" name="listing[description]">  </textarea><br><br>
        <input type="text" placeholder="Enter Price" name="listing[price]"> <br><br>
        <input type="text" placeholder="Enter Location" name="listing[location]"> <br><br>
        <input type="text" placeholder="Enter Country" name="listing[country]"> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>