<% layout("/layout/boilerplate") %>

    <body>
   
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h2>Add info</h2>
                <form action="/listings" method="POST">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title </label>
                        <input type="text" placeholder="Enter a Catchy Title" name="listing[title]" class="form-control"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description </label>
                        <textarea type="text" placeholder="Enter Description" name="listing[description]"
                            class="form-control" required>  </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" placeholder="Enter Image URL/Link" name="listing[image]" class="form-control"
                        required>
                    </div>
                   <div class="row">
                        
                            <div class="mb-3 col-md-4">
                                <label for="price" class="form-label">Price </label>
                                <input type="number" placeholder="Enter Price" name="listing[price]" class="form-control"
                                    required>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="country" class="form-label">Country </label>
                                <input type="text" placeholder="Enter Country" name="listing[country]" class="form-control"
                                    required>
                            </div>
                        
                   </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Location </label>

                        <input type="text" placeholder="Enter Location" name="listing[location]" class="form-control"
                            required>
                    </div>
                    
                    <button class="btn add-btn mt-3">Submit</button>
                </form>
            </div>
        </div>
    </body>