<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the Home page 1+2</h1>
    <h2><%= 1+2 %></h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, soluta quae tempore illum corrupti fugit aliquam veniam aspernatur consectetur nobis, impedit vel quia eum quisquam, repudiandae temporibus totam itaque blanditiis.</p>
    <button>Click me</button>
</body>
</html>