<%- include("./head.ejs") %>
<body> 
    <h1>Weclome To <%=username%>'s Instagram </h1>

    <button>Follow</button>
    <button>Comment</button>
    <br>
    <%- include("./footer.ejs"); %>
</body>
</html>