<%- include("./head.ejs") %>
<link rel="stylesheet" href="/style.css">
<body> 
    <h1>Weclome To <%=username%>'s Instagram </h1>

    <button>Follow</button>
    <button>Comment</button>
    <br>
    <%- include("./footer.ejs"); %>
    <script src = "script.js"></script>
</body>
</html>